<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Rocket HBS</title>
</head>
<body>
    <div id="root">
        <div class="row" id="title-row">
        </div>
        <div class="row">
            <img 
                src="static/images/Rocket.jpg" 
                alt="Rocket!! Not just an awesome tool... 🚀🚀🚀" 
                height="400"
                width="400"
            />
        </div>
    </div>

    <script src="static/script.js"></script>
</body>
</html>